body {
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: #09C4F6;

  a {
    text-decoration: none;
    color: black;
  }
}

section {
  padding: 5px;
}